body{
    background-color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-position: center;

}
h1{
    color: darkolivegreen;
    font-size: 50px;
    font-style: italic;
}